.NavBar{
    background-color: rgb(245, 247, 255);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    
}

.HamSym{
    width: 25px;
    height: 25px;
    margin: 0px 20px;
    z-index: 2;
}

.sideBar{
    background-color: rgb(138, 155, 195);
    color: white;
    position:absolute;
    width: 100vh;
    min-height: auto;
    padding: 10px;
    padding-bottom: 50px;
    
}

.navIteams{
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ul li {
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-family:sans-serif;
}