.exploreSection{
    max-width: 100vw;
    min-height: 200px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Head{
    color: black;
    font-weight: 450;
    font-size: 2rem;
}

.cnt-one{
    width: auto;
    height: auto;
    padding: 10px 30px;
    display: flex;
    gap: 50px;
}

.cnt-two-a{
    width: auto;
    height: auto;
    padding: 10px 30px;
    background-color: rgb(3, 27, 84);
    color: white;
    border-radius: 10px;
    box-shadow: rgba(2, 15, 80, 0.677) 0px 5px 15px;
    text-align: center;
}

.cnt-two-a:hover {
    scale: 1.08;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}