.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: -20px;
}

.head{
    color: black;
    font-weight: 450;
    font-size: 2rem;
}

ul {
    list-style: none;
}