.logo-text{
    color: rgb(1, 22, 76);
}
.logo{
    width: auto;
    height: auto;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}