.Dashboard-Prfile-cnt{
    width: 300px;
    margin: auto;
    height: auto;
    display: flex;
    padding: 20px 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    background-color: rgb(214, 214, 214);
    border-radius: 20px;
     background-color: rgb(0, 0, 81);
     color: white;
}

.profile-pic{
    width: 120px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(57, 49, 2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic{
    font-size: 4rem;
    font-family: "Cascadia Mono", sans-serif;
    font-weight: bold;
    color: black;
}

.details{
    max-width: 300px;
    height: auto;
    padding: 15px;
    background-color: rgb(0, 0, 81);
    color: white;
    border-radius: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}