
.register-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  padding: 20px;
  color: white;
}

.login-logo {
    margin-top: -20px;
    margin-bottom: -20px;
}


.register-card {
  background: rgb(4, 29, 72);;
  padding: 35px;
  border-radius: 12px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}


.register-card h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #ffffff;
}


.register-card label {
  font-weight: 600;
  display: block;
  margin-top: 12px;
  margin-bottom: 6px;
}


.register-card input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: 0.2s;
}

.register-card input:focus {
  border-color: #4facfe;
  outline: none;
  box-shadow: 0 0 5px rgba(79,172,254,0.5);
}


.register-card button {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background: #4facfe;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  height: 50px;
}

.register-card button:hover {
  background: #2f8dfc;
}


@media (max-width: 480px) {
  .register-card {
    padding: 25px;
  }

  .register-card h2 {
    font-size: 20px;
  }
}