button{
    padding: 5px 15px;
    height: 30px;
    width: 100px;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    background-color: rgb(186, 186, 255);
}

.button-cnt{
    width: 150px;
    height: 60px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}


button:hover{
    height: 34px;
    width: 110px;
    transition: all 0.3s;
    font-size: 1.01rem;
    font-weight: bold;
}