.footer{
    min-height: 80px;
    padding: 15px 25px;
    background-color: rgb(5, 5, 77);
    margin-top: 50px;
    color: white;
}

a{
    color: white;
}

.contact-cnt-a{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.contact-cnt-b{
    padding: 10px 0px;
}