.Logo{
    width: 400px;
    min-height: 300px;
    /* background-color: red; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    flex-direction: column;
}

.Logo-head{
    font-size: 5rem;
    font-weight: bold;
    color: rgb(1, 1, 96);
}

.Logo-sub{
    margin-top: -30px;
    color: rgb(165, 7, 7);
}

@media (max-width:768px) {
        .Logo-head{
            font-size: 3rem;
        }

        .Logo-sub{
            margin-top: -15px;
        }
}