nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 40px;
    background-color: #0f172a;
    color: white;
}

.nav-left h1 {
    font-size: 24px;
    font-weight: 700;
}

.nav-right {
    display: flex;
    gap: 30px;
}

.Link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

.Link:hover {
    color: #38bdf8;
}


.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}


@media (max-width: 768px) {
    nav {
        padding: 15px 20px;
        justify-content: space-between;
    }

    .nav-right {
        position: absolute;
        top: 65px;
        right: 0;
        background-color: #0f172a;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        gap: 20px;
        display: none;
    }

    .nav-right.open {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}
